header {
    background-color: #411e5e;
    color: #fdfaf4;
    padding: 32px 64px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: monospace;
    font-size: 20px;
    }

.avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;

    border-radius: 50%;
    border: 3px solid #411e5e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    }
        
.apresentacao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 32px 24px;
    font-family: monospace;
    font-size: 18px;
    }

h2{
    font-family: monospace;
    border-left: 4px solid #411e5e;
    padding-left: 10px;
}
h3{
    font-family: monospace;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    }

caption {
      text-align: left;
      font-weight: bold;
      margin-bottom: 8px;
    }

th, td {
      border: 1px solid #d8cfba;
      padding: 0.6rem;
      text-align: left;
    }

th {
      background-color: #7d54a0;
    }

button {
    align-self: flex-start;
    background-color: #411e5e;
    color: #fdfaf4;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    }

button:hover{
    background-color: #7d54a0;
}
nav{
    background-color: #5d3d77 ;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

nav a{
    display: block;
    color: black;
    padding: 10px;
    border: 1px solid black ;
    box-shadow: 3px 5px;
    text-decoration: none;
    font-family: monospace;
}
nav a:hover{
    background-color: #7d54a0;
}

footer{
    background-color: #411e5e;
    color: #fdfaf4;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 5px;
    }

footer a{
    color: white;
}

#estudos img{

    width:250px;
    height:250p; 
}